In [61]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [62]:
df=pd.read_csv('train.csv')

In [64]:
x={'male':1,'female':2}

In [30]:
plt.figure()

In [46]:
xd=df[(df["Pclass"]==3)]

In [49]:

df['Age'].count()

714

In [56]:
x={'male':1,'female':2}

In [60]:
df['Sex']=df['Sex'].str.strip().map(x)

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [59]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Gen
0,1,0,3,"Braund, Mr. Owen Harris",NaN,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",NaN,38.0,1,0,PC 17599,71.2833,C85,C,NaN
2,3,1,3,"Heikkinen, Miss. Laina",NaN,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",NaN,35.0,1,0,113803,53.1000,C123,S,NaN
4,5,0,3,"Allen, Mr. William Henry",NaN,35.0,0,0,373450,8.0500,NaN,S,NaN
5,6,0,3,"Moran, Mr. James",NaN,NaN,0,0,330877,8.4583,NaN,Q,NaN
6,7,0,1,"McCarthy, Mr. Timothy J",NaN,54.0,0,0,17463,51.8625,E46,S,NaN
7,8,0,3,"Palsson, Master. Gosta Leonard",NaN,2.0,3,1,349909,21.0750,NaN,S,NaN
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",NaN,27.0,0,2,347742,11.1333,NaN,S,NaN
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",NaN,14.0,1,0,237736,30.0708,NaN,C,NaN
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",NaN,4.0,1,1,PP 9549,16.7000,G6,S,NaN
11,12,1,1,"Bonnell, Miss. Elizabeth",NaN,58.0,0,0,113783,26.5500,C103,S,NaN
12,13,0,3,"Saundercock, Mr. William Henry",NaN,20.0,0,0,A/5. 2151,8.0500,NaN,S,NaN
13,14,0,3,"Andersson, Mr. Anders Johan",NaN,39.0,1,5,347082,31.2750,NaN,S,NaN
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",NaN,14.0,0,0,350406,7.8542,NaN,S,NaN
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",NaN,55.0,0,0,248706,16.0000,NaN,S,NaN
16,17,0,3,"Rice, Master. Eugene",NaN,2.0,4,1,382652,29.1250,NaN,Q,NaN
17,18,1,2,"Williams, Mr. Charles Eugene",NaN,NaN,0,0,244373,13.0000,NaN,S,NaN
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",NaN,31.0,1,0,345763,18.0000,NaN,S,NaN
19,20,1,3,"Masselmani, Mrs. Fatima",NaN,NaN,0,0,2649,7.2250,NaN,C,NaN
20,21,0,2,"Fynney, Mr. Joseph J",NaN,35.0,0,0,239865,26.0000,NaN,S,NaN
21,22,1,2,"Beesley, Mr. Lawrence",NaN,34.0,0,0,248698,13.0000,D56,S,NaN
22,23,1,3,"McGowan, Miss. Anna ""Annie""",NaN,15.0,0,0,330923,8.0292,NaN,Q,NaN
23,24,1,1,"Sloper, Mr. William Thompson",NaN,28.0,0,0,113788,35.5000,A6,S,NaN
24,25,0,3,"Palsson, Miss. Torborg Danira",NaN,8.0,3,1,349909,21.0750,NaN,S,NaN
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",NaN,38.0,1,5,347077,31.3875,NaN,S,NaN
26,27,0,3,"Emir, Mr. Farred Chehab",NaN,NaN,0,0,2631,7.2250,NaN,C,NaN
27,28,0,1,"Fortune, Mr. Charles Alexander",NaN,19.0,3,2,19950,263.0000,C23 C25 C27,S,NaN
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",NaN,NaN,0,0,330959,7.8792,NaN,Q,NaN
29,30,0,3,"Todoroff, Mr. Lalio",NaN,NaN,0,0,349216,7.8958,NaN,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",NaN,21.0,1,0,28134,11.5000,NaN,S,NaN
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",NaN,48.0,0,0,17466,25.9292,D17,S,NaN
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",NaN,NaN,8,2,CA. 2343,69.5500,NaN,S,NaN
864,865,0,2,"Gill, Mr. John William",NaN,24.0,0,0,233866,13.0000,NaN,S,NaN
865,866,1,2,"Bystrom, Mrs. (Karolina)",NaN,42.0,0,0,236852,13.0000,NaN,S,NaN
866,867,1,2,"Duran y More, Miss. Asuncion",NaN,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,NaN
867,868,0,1,"Roebling, Mr. Washington Augustus II",NaN,31.0,0,0,PC 17590,50.4958,A24,S,NaN
868,869,0,3,"van Melkebeke, Mr. Philemon",NaN,NaN,0,0,345777,9.5000,NaN,S,NaN
869,870,1,3,"Johnson, Master. Harold Theodor",NaN,4.0,1,1,347742,11.1333,NaN,S,NaN
870,871,0,3,"Balkic, Mr. Cerin",NaN,26.0,0,0,349248,7.8958,NaN,S,NaN
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",NaN,47.0,1,1,11751,52.5542,D35,S,NaN
872,873,0,1,"Carlsson, Mr. Frans Olof",NaN,33.0,0,0,695,5.0000,B51 B53 B55,S,NaN
873,874,0,3,"Vander Cruyssen, Mr. Victor",NaN,47.0,0,0,345765,9.0000,NaN,S,NaN
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",NaN,28.0,1,0,P/PP 3381,24.0000,NaN,C,NaN
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",NaN,15.0,0,0,2667,7.2250,NaN,C,NaN
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",NaN,20.0,0,0,7534,9.8458,NaN,S,NaN
877,878,0,3,"Petroff, Mr. Nedelio",NaN,19.0,0,0,349212,7.8958,NaN,S,NaN
878,879,0,3,"Laleff, Mr. Kristo",NaN,NaN,0,0,349217,7.8958,NaN,S,NaN
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",NaN,56.0,0,1,11767,83.1583,C50,C,NaN
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",NaN,25.0,0,1,230433,26.0000,NaN,S,NaN
881,882,0,3,"Markun, Mr. Johann",NaN,33.0,0,0,349257,7.8958,NaN,S,NaN
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",NaN,22.0,0,0,7552,10.5167,NaN,S,NaN
883,884,0,2,"Banfield, Mr. Frederick James",NaN,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,NaN
884,885,0,3,"Sutehall, Mr. Henry Jr",NaN,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,NaN
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",NaN,39.0,0,5,382652,29.1250,NaN,Q,NaN
886,887,0,2,"Montvila, Rev. Juozas",NaN,27.0,0,0,211536,13.0000,NaN,S,NaN
887,888,1,1,"Graham, Miss. Margaret Edith",NaN,19.0,0,0,112053,30.0000,B42,S,NaN
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN
889,890,1,1,"Behr, Mr. Karl Howell",NaN,26.0,0,0,111369,30.0000,C148,C,NaN
890,891,0,3,"Dooley, Mr. Patrick",NaN,32.0,0,0,370376,7.7500,NaN,Q,NaN

In [65]:
x={'male':1,'female':2}

In [69]:
df.drop(['Name'],axis=1,inplace=True)

In [72]:
df.drop(['Sex'],axis=1,inplace=True)